html, body{height: 100%;}
body {font-family: 'Roboto', sans-serif;
			background-color: rgb(242, 242, 225);
			color: #222;
		}

nav li {
	display: inline;

}

nav ul {
	text-align: center;
}

a {
	color: #222;
	margin-right: 1em;
 }

 a:hover {
 	font-weight: 700;
 }

#sidebar {
	float: left;
	width: 20%;
	height: 100%;
	margin-right: 5%;
	padding-top: 4%; 
}

#sidebar li {
	margin-bottom: 0.2em;
}

#content {
	width: 69%;
	float: right;
	padding-left: 6%;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

img {
	width: 403px;
}

p {
	width: 70%;
}